<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luo.ssm.mapper.AloneWorkMapper" >
	<!-- 待办事项 -->
	<!-- 查询员工的待办事项和按条件检索事项 -->
	<select id="selectAllAloneWork" parameterType="cn.luo.ssm.po.Alonework" resultType="cn.luo.ssm.po.Alonework">
		select * from alonework 
		<where>
			<include refid="select_todolist_toshow"/>
		</where>
		<if test="sort != null">
			ORDER BY  ${sort}  ${order}
		</if>
	</select>
	<sql id="select_todolist_toshow">
		<if test="staId != null">
			AND alonework.`staId` = '${staId}'
		</if>
		<if test="todoType != null">
			AND alonework.`todoType` = '${todoType}'
		</if>
		
		<if test="todoimpor != null">
			AND alonework.`todoimpor` = '${todoimpor}'
		</if>
		<if test="todoTitle != null">
			AND alonework.`todoTitle` like '%${todoTitle}%'
		</if>
		<if test="startTime != null  &amp;&amp;  endTime == null">
			AND alonework.`todoCreate`  &gt;= '${startTime}'
		</if>
		<if test="startTime == null &amp;&amp;  endTime != null">
			AND alonework.`todoCreate`   &lt;= '${endTime}'
		</if>
		<if test="startTime != null &amp;&amp;  endTime != null">
			AND alonework.`todoCreate`  &gt;= '${startTime}' AND alonework.`todoCreate`   &lt;= '${endTime}'
		</if>
	</sql>
	<!-- 添加事项 -->
	<insert id="insertTodoWork" parameterType="cn.luo.ssm.po.Alonework">
		INSERT INTO alonework (staId,todoTitle, todoContent,todoCreate,todoType,todoimpor,todoFile,todoServerName,createAuthor)
		values
		(#{staId},#{todoTitle}, #{todoContent},#{todoCreate},#{todoType},#{todoimpor},#{todoFile},#{todoServerName},#{createAuthor})
	</insert>
	<!-- 修改事项 -->
	<update id="updateTodpWorkById" parameterType="cn.luo.ssm.po.Alonework">
		update alonework set staId=#{staId},todoTitle=#{todoTitle},todoContent=#{todoContent}
		,todoimpor=#{todoimpor} 
		<if test="todoFile != null">
			,todoFile=#{todoFile},todoServerName=#{todoServerName}
		</if>
		where todoId = #{todoId}
	</update>
	<!-- 删除事项 -->
	<delete id="deleteTodoWorkByID" parameterType="int">
		delete  from alonework where todoId = #{todoId}
	</delete>
	<!--  -->
	<select id="sekectSysManagAloneWork" parameterType="cn.luo.ssm.po.Staff" resultType="cn.luo.ssm.po.Alonework">
		 SELECT 
		  * 
		FROM
		 alonework
		WHERE  staId IN 
		  (SELECT 
		    staId
		  FROM
		   staff
		  WHERE stanumber LIKE '${stanumber}%'
		   )
	</select>
	<select id="findStaNumberByStaid" parameterType="int" resultType="String">
		SELECT stanumber FROM staff WHERE staId = #{staId}
	</select>
	<!-- 根据当前登录的用户查询所有的下属信息 -->
	<select id="findStaByStaid" parameterType="cn.luo.ssm.po.Staff" resultType="cn.luo.ssm.po.Staff">
		select * from  staff WHERE stanumber LIKE '${stanumber}%'
	</select>
</mapper>