<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luo.ssm.mapper.StaffManmagerMapper" >
	<select id="selectStaffBySid" resultType="cn.luo.ssm.po.Staff">
		SELECT * FROM staff where staid = #{0}
	</select>
	
</mapper>